@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}

html{
  overflow-x: hidden;
}

body {
  font-family: 'Poppins';

  
}

/*Headerr   
  
 
 
  padding: 0rem 1rem ;
  background: #FFF;

  position: sticky;
  top: 0;
  
  */


.navbar{
  display: flex ;
  justify-content: space-between;
  min-height: 4vh;
  height: 65px;
  margin: 0px 10px ;
  z-index: 10;
  background: #FFF;
  align-items:center;

}

.logo {
  margin: 0px 10px 10px 30%;
  font-family: 'Lobster', cursive;
  font-weight: 400;
  display: inline-block;
  font-size: 10px;
}
.logos {
  display: flex;
}

.picone {
  width: 45px;
  height: 45px;
  margin-top: 16px;
}


.pictwo {
  width: 15px;
  height: 18px;
}

.right h2 {
  margin-top: 19px;
  font-size: 16px;
}
.right span {
  font-family: 'Sacramento', cursive;
  font-weight: 400;
font-size: 34px;
line-height: 53px;

}

.navbar a {
  text-decoration: none;
  list-style: none;
  color: #000004;
  font-weight: 500;

}

.ul1 {
  list-style: none ;
  display: flex;
  padding-top: 30px;
  


}
.li1 {
  padding-left: 105px;
  position: relative ;
  font-size: 13px;
  text-transform: uppercase;
  color: #000000;
    
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  
}

/*About me*/
.firstpart {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  height: 690px;
}

.one {
  margin: 20px 5px 60px 40px;
  align-items: center;
  color: #000004;
  line-height: 45px;
}



.intro {
  text-align: center;
  font-family: 'Poppins';
}
.justspan {
  color: #B2AD4D ;
  font-family: 'Lobster';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 50px;
}

.ul2 {
  list-style: none;
}

.ul2 li::before {
  content: "\2022";
  color: #B2AD4D;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

.btn {
  margin: 55px 10px;
}
button {
  padding: 10px 20px;
  color: #B2AD4D;
  font-size: 15px;
  font-weight: 700;
  background: #FFF;
  border-radius: 8px;
}

button:hover {
  background: #B2AD4D;
  color: #FFF;
  cursor: pointer;

}

/*about parttwo*/

.imgpart {
  position: relative;
  
}

.bgimg {
  height: 500px;
  width: 100%;
}

.text {
  position: absolute;
  top: 20%;
  left:60%;
  font-size: 20px; 
  font-family: 'Lobster';


}

.text2 {
  position: absolute;
  top: 25%;
  left:60%;
  


}

.text2 p {
  font-weight: 700;
  font-size: 20px;
  margin: 10px 0px 10px 0px;
}



/*Contact*/
.contact {
  margin-top: 100px;
  height: 82vh;

}



/*Writeups*/
.writeups {
  margin: 50px 29px;
  height: 83vh;
 
  
}
.writeups h3 {
  text-align: center;
  font-size: 20px;
  letter-spacing: 10px;
  font-weight: 700;
  margin: 5px 0 20px 0;
  text-transform: uppercase;
}
.writeups h4 {
  text-align: center;
  font-style: italic;
  margin-bottom: 30px;
  font-size: 19px;
}
.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 22px;
  margin: 10px 10px;
}

.images {
  height: 250px;
  width: 300px;
  margin: auto;
  max-width: 100%;
}

@media (max-width: 900px) {
  .grid {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 700px) {
  .grid {
    grid-template-columns: auto;
  }
}

.singlepost {
  margin-top: 100px;
}

/*Footer*/
.footer {
  color: #000004;
  text-align: center;
  background: #EDE7D9;
  padding: 3px 0px;
 
}


.pre {
  margin-top: 050px;
}